/* ==================================================
 1. Spaces
 2. Colors
 2.1. Color Name by context
 3. Utils
// ================================================== */

/* These have been using Venice (Juntos Somos Mais's Design System) as inpirations.
  You can learn about here: https://github.com/juntossomosmais/venice */

:root {
  /* 1. Spaces */
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;
  --screen-xs: 360px;
  --screen-sm: 768px;
  --screen-md: 992px;
  --screen-lg: 1280px;
  --screen-xlg: 1440px;
  --screen-max-container: 1140px;
  --font-family: 'Roboto', sans-serif;
  --typography-panel-font: 900 38px/40px var(--font-family);
  --typography-panel-letter: 0;
  --typography-title-font: 500 24px/28px var(--font-family);
  --typography-title-letter: -0.357143px;
  --typography-subheader-font: 400 20px/24px var(--font-family);
  --typography-subheader-letter: -0.288572px;
  --typography-body-font: 400 16px/19px var(--font-family);
  --typography-body-letter: -0.228572px;
  --typography-body2-font: 400 14px/16px var(--font-family);
  --typography-body2-letter: -0.2px;
  --typography-caption-font: 400 12px/14px var(--font-family);
  --typography-caption-letter: -0.171429px;
  --typography-button-font: 500 16px/19px var(--font-family);
  --typography-button-letter: -0.228572px;

  /* 2. Colors */
  --black: #111;
  --white: #fff;
  --gray-1: #f5f5f5;
  --gray-2: #d8d8d8;
  --gray-3: #9b9b9b;
  --gray-4: #4a4a4a;
  --gray-5: #333;
  --blue-1: #e3f2fd; /*5*/
  --blue-2: #90caf9; /*3*/
  --blue-3: #2196f3;
  --blue-4: #1976d2; /*2*/
  --blue-5: #0d47a1; /*4*/
  --green-1: #e8f5e9;
  --green-2: #a5d6a7;
  --green-3: #4caf50;
  --green-4: #388e3c;
  --green-5: #1b5e20;
  --orange-1: #fff3e0;
  --orange-2: #ffcc80;
  --orange-3: #ff9800;
  --orange-4: #f57c00;
  --orange-5: #e65100;
  --red-1: #ffebee;
  --red-2: #ef9a9a;
  --red-3: #f44336;
  --red-4: #d32f2f;
  --red-5: #b71c1c;
  --purple-1: #ce93d8;
  --purple-2: #9c27b0;
  --purple-3: #6a1b9a;
  --cyan-1: #80deea;
  --cyan-2: #006064de;
  --cyan-3: #006064;
  /*2.1 Color name by context */
  --brand-color: var(--cyan-3);
  --brand-color-lighten: var(--cyan-2);
  --brand-color-contrast: var(--white);
  --default-color-lighten: var(--gray-2);
  --default-color: var(--gray-3);
  --default-color-darken: var(--gray-4);
  --default-color-contrast: var(--white);
  --disabled-color: var(--gray-3);
  --disabled-color-contrast: var(--gray-1);
  --primary-color-lighten: var(--orange-2);
  --primary-color: var(--orange-3);
  --primary-color-darken: var(--orange-4);
  --primary-color-contrast: var(--white);
  --secondary-color-lighten: var(--blue-2);
  --secondary-color: var(--blue-3);
  --secondary-color-darken: var(--blue-4);
  --secondary-color-contrast: var(--white);
  --success-color-lighten: var(--green-2);
  --success-color: var(--green-3);
  --success-color-darken: var(--green-4);
  --success-color-contrast: var(--white);
  --danger-color-lighten: var(--red-2);
  --danger-color: var(--red-3);
  --danger-color: var(--red-4);
  --danger-color-contrast: var(--white);
  --text-color: var(--gray-5);
  --text-color-lighten: var(--gray-3);
  --bg-darken: rgba(0, 0, 0, 0.7);

  /* 3. Utils */
  --border-radius-lighten: 2px;
  --border-radius: 4px;
  --zindex-1: 1;
  --zindex-5: 5;
  --zindex-10: 10;
  --zindex-100: 100;
  --zindex-1000: 1000;
  --zindex-overlay: 10000;
  --transition-duration-speed: 0.25s;
  --transition-duration: 0.5s;
  --transition-duration-slow: 0.75s;
}
