/*
  Usually, it can have other values in diffs layouts.
  Here there global variables to use at Default layout
*/
// screen
$screen-xs: 360px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1280px;
$screen-xlg: 1440px;
// utils
$header-height-small: 58px;
$header-height: 70px;
$nav-height: 48px;
$footer-height-small: 55px;
// $footer-height: 55px;
$padding-small: 10px;
$padding: 20px;
