/*
  Usually, it can have other values in diffs layouts.
  Here there global css stuff to use at Default layout

  1. Class
*/

@import './Default-variables.scss';

/* 1. Class */
.dg-container {
  padding-right: $padding-small;
  padding-left: $padding-small;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: $screen-sm) {
    padding-right: $padding;
    padding-left: $padding;
  }

  &-small {
    max-width: $screen-sm;
  }

  &-medium {
    max-width: $screen-md;
  }

  &-large {
    max-width: $screen-xlg;
  }
}
